@page "/fetchdata"
@inherits FetchDataCode

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<input type="text" bind="@ComponentString"/>
<button class="btn btn-primary" onclick="@ComponentMethod">ComponentMethod</button>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <SortableColumnHeader ColumnTitle="Date"
                                        SortColumn="Date"
                                        bind-CurrentSortColumn="@CurrentSortColumn"
                                        Collection="@Forecasts"
                                        UpdateCollection="@UpdateCollection"
                                        SortBy="@(x => x.Date)">
                </SortableColumnHeader>
                <SortableColumnHeader ColumnTitle="Temp. (C)"
                                        SortColumn="Celsius"
                                        bind-CurrentSortColumn="@CurrentSortColumn"
                                        Collection="@Forecasts"
                                        UpdateCollection="@UpdateCollection"
                                        SortBy="@(x => x.TemperatureC)">
                </SortableColumnHeader>
                <SortableColumnHeader ColumnTitle="Temp. (F)"
                                        SortColumn="Fahrenheit"
                                        bind-CurrentSortColumn="@CurrentSortColumn"
                                        Collection="@Forecasts"
                                        UpdateCollection="@UpdateCollection"
                                        SortBy="@(x => x.TemperatureF)">
                </SortableColumnHeader>
                <SortableColumnHeader ColumnTitle="Summary"
                                        SortColumn="Summary"
                                        bind-CurrentSortColumn="@CurrentSortColumn"
                                        Collection="@Forecasts"
                                        UpdateCollection="@UpdateCollection"
                                        SortBy="@(x => x.Summary)">
                </SortableColumnHeader>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}